*{
    box-sizing: border-box;
    margin: 0px;
    color:white;
}
.container{
    background-image: url(./ttd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
ul {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    background-color: green;
}
li {
    float: left;
}
.brand{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 7px;
}
sub{
    font-size: 10px;
}
button{
    border: white;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: green;
}
.search{
    margin-top: 30vh;
    text-align: center;
    justify-content: center;
}
.searchBar input{
    text-align: left;
    width: 50%;
    height: 40px;
    font-size: 15px;
    color: black;
    background-color: white;
    font-weight: 700;
    border-radius: 5px;
}