*{
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    border: 1px solid rgb(36, 36, 240);
    background-image:url(images/background.png);
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 500px;
    position: relative;
}
.list ul{
    margin: 15vh 0px 0px 0px;
}
.converter{
    border: 1px solid red;
    width: 150px;
    height: auto;
    position: absolute;
    
}
input{
    width: 100px;
}
.converter button{
    align-items: center;
}
