*{
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    border: 1px solid rgb(36, 36, 240);
    background-image:url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh;
    height: max-content;
    padding: 5px 1px;
    border-radius: 10px;
}
.converter{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(234, 241, 241);
    font-weight: bolder;
    border: 3px solid #f1f1f1;
    margin: 7px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    overflow: hidden;
}
input{
    width: 100px;
}
.converter button{
    align-items: center;
}
