*{
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    background:linear-gradient(270deg,orange,skyblue);
}
.container{
    border: 2px solid rgb(76, 76, 187);
    background-image:url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vh;
    height: max-content;
    padding: 1px 5px;
    border-radius: 8px;
}
.converter{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(234, 241, 241);
    font-weight: bolder;
    border: 3px solid #f1f1f1;
    margin: 7px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 7px;
    overflow: hidden;
}
input{
    width: 100px;
}
.converter button{
    align-items: center;
    border: 1px solid aqua;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(21, 161, 226);
}
input, select{
    border: 1px solid aqua;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(21, 161, 226);
}
button:hover{
    background-color: rgb(29, 172, 255);
    color: white;
}
.output{
    padding: 5px 3px;
    color: rgb(11, 49, 17);
    font-weight: bolder;
}
h2, h3{
    color: indigo;
    /* box-shadow: 3px 1px 7px 8px skyblue;
    max-width: max-content; */
}

