*{
    box-sizing: border-box;
    /* margin: 1px; */
}
body{
    background: #111;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
h1{
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.blocks{
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px rgb(7, 7, 7);
    transition: 2s ease-in-out;
}

.blocks:hover{
    transition-duration: 0s ;
}
/*body{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}
.container{
    background-color: black;
    border: 2px solid skyblue;
    border-radius: 7px;
    height: 80vh;
    width: 130vh;
    box-shadow: 1px 1px 5px 7px gainsboro;
} 
 .square{
    height: 16px;
    width: 16px;
    margin: 2px;
    border: 1px solid white;
}
.square{
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: 2s ease-in-out;
}
.square:hover{
    transition-duration: 0s ;
}*/

