*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
}
.select{
    color: antiquewhite;
}
.select i{
    font-size: 20px;
    color: rgb(221, 36, 36)
}
.addBG{
    color: rgb(20, 12, 12);
    font-size: 2em;
    padding: 25px;
    background-image: url(images/airBallon.jpg);
    width: 100%;
    background-repeat: repeat-x;
}
.BG-2{
    color: rgb(235, 156, 10);
    font-size: 2em;
    padding: 25px;
    background-image: url(images/wall.jpg);
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.RE{
    position: relative;
    margin-left: 60%;
    margin-top: 2%;
    background-position: calc(0,10,0);
}