*{
    box-sizing: border-box;
}
.dody{
    background-color: white;
}
.first
.sec
.third{
    border: 2px;
    color: black;
    display: flex;
    height: 300px;
    /* flex: auto; */
    /* justify-content: space-evenly; */
}