*{
    box-sizing: border-box;
}
body{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10vh auto;
}
.clock{
    border: 2px solid white;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    position: relative;
}
.sec{
    border: 1px solid white;
    height: 0.2vh;
    width: 20vh;
}
.min{
    background-color: rgb(56, 145, 223);
    height: 0.8vh;
    width: 23vh;
}
.hour{
    background-color: rgb(239, 241, 239);
    height: 0.8vh;
    width: 15vh;
}
.clock div{   
    border-radius: 3px;
    position: absolute;
    top:50%;
    left: 47%;
    transform-origin: 7%;
    transform: rotate(90deg);
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); 
  }