*{
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid rgb(4, 4, 56);
    background-color: rgb(238, 235, 235);
    height: 465px;
    max-width: 350px;
    overflow: hidden;
    border-radius: 4px;
}
#display{
    color: rgb(17, 15, 15);
    text-align: right;
    height: 100px;
    line-height: 70px;
    padding: 1;
    font-size: 45px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    /* grid-gap: 3px; */
    background-color: rgb(37, 35, 35);
}
.btn{
    border: 1px solid rgb(43, 88, 236);
    background-color: rgb(19, 17, 17);
    border-radius: 50%;
    justify-content: space-around;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    font-size: 21px;
}
.btn:hover{
    color: white;
    background-color: rgb(49, 47, 47);
    transition: 0.4s ease-out;
    cursor: pointer;
}