*{
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}
.container{
    border: solid 6px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, #dcdcdc), 
      linear-gradient(315deg,#833ab4,#fd1d1d 50%,#fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 5px;
    height: max-content;
    width: 90vh;
    overflow: hidden;
}
#question{
    text-align: center;
    padding: 3em;
    border: 1px solid skyblue;
    box-shadow: 1px 1px 7px 7px #dcdcdc;
    margin: 5vh 8vh;
    border-radius: 5px;
}
ul,li{
    list-style: none;
    padding: 4px 8px;
}
li:hover{
    font-weight: bold;
    color: green;
}
div button{
    border: 2px solid rgb(17, 82, 17);
    background-color: rgba(7, 71, 8, 0.9);
    width: 100%;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5px;
}
button:hover{
    background-color: rgb(2, 109, 2);
    color: #dcdcdc;
    box-shadow: 1px 1px 6px 7px skyblue;
    opacity: 100;
}
